<!DOCTYPE html>
<html>

<head>
    <title>Home | Project Classes</title>
</head>

<body>
    <h1>Homepage</h1>
    <p>
        This is the home page for the Project Classes
    </p>
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Signup", signup_path %></li>

    </ul>
</body>

</html>