<% provide(:title, @company.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h2>
                <%= @company.name %>
            </h2>
            <h1>
                <%= @company.addres %>
                <%= @company.nip %>
            </h1>
        </section>
    </aside>
</div>